:root {
  --kolor-header-footer: #5c5c5c;
}

.section {
  margin: 10px;
  padding: 20px;
  background-color: white;
}

.button {
  padding: 7px;
  margin: 5px;
  background-color:  #e7e7e7;
  border-radius: 5px;
}

.button:hover {
  padding: 7px;
  margin: 5px;
  background-color:  #c5c5c5;
  border-radius: 5px;
}

.button:active {
  padding: 7px;
  margin: 5px;
  background-color:  #b4b4b4;
  border-radius: 5px;
}

.input {
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}

table {
  width:100%;
  table-layout: fixed;
}

th {
  padding: 10px;
}

tr > *:first-child {
  text-align: left;
}

td {
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.App {
  text-align: center;
  background-color: #f0f0f0;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 10vh;
  background-color: var(--kolor-header-footer);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-h1 {
  margin: 0;
  min-height: 10vh;
  justify-content: center;
  line-height: 10vh;
  font-variant: small-caps;
}

.App-footer {
  margin-top: 10px;
  min-height: 5vh;
  background-color: var(--kolor-header-footer);
  clear: both;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ScalerComp-scaler {
  margin: 0;
  font-variant: small-caps;
  font-size: 20px;
}

.SumComp-ps {
  text-align: left;
  padding-left: 30px;
}

.middleHeader {
  font-variant: small-caps;
  font-size: 20px;
}

.MostValue-p {
  text-align: left;
  padding-left: 25px;
}

.TransactionList-usun {
  cursor: pointer;
}

.TransactionList-usun:hover {
  text-shadow: 0 0 1px black;;
}